<h2>{{entry.title}}</h2>
<h4>{{entry.date}}</h4>
 {{entry.content}}

<h3>Comments</h3>
<ul>
  {{#each entry.comments as |comment|}}
    {{comment-tile comment=comment destroyComment="destroyComment"}}
  {{/each}}
</ul>
<br>
<button class="btn" {{action "delete" entry}}>Delete</button>
