{{#if addNewEntry}}
  <h1>New Blog</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        {{input class="form-control" value=title id="author"}}
      </div>
      <div class="form-group">
        <label for="date">Date</label>
        {{input class="form-control" value=date id="date"}}
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        {{textarea rows=5 class="form-control" value=content id="content"}}
      </div>
      <button class="btn" {{action "saveEntry"}}>Save</button>
    </form>
  </div>
{{else}}
  <button class="btn" {{action "entryFormShow"}}>New Blog</button>
{{/if}}
