{{#if addNewComment}}
  <h1>New Comment</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        {{input class="form-control" value=name id="name"}}
      </div>
      <div class="form-group">
        <label for="date">Date</label>
        {{input class="form-control" value=date id="date"}}
      </div>
      <div class="form-group">
        <label for="content">Comment</label>
        {{textarea rows=2 class="form-control" value=content id="content"}}
      </div>
      <button class="btn" {{action "saveComment"}}>Save</button>
    </form>
  </div>
{{else}}
  <button class="btn" {{action "commentFormShow"}}>New Comment</button>
{{/if}}
